*~
output/*.png
output/*.json
test_output/*.png
test_output/*.json
*.aux
*.bbl
*.blg
*.log
*.out
__pycache__
*/__pycache__
*/*/__pycache__
build
examples/cython/*.c
examples/cython/*.so
pypi_package/src/gnc_smoothie_philfm/cython/*.c
pypi_package/src/gnc_smoothie_philfm/cython/*.so
pypi_package/dist
pypi_package/src/gnc_smoothie_philfm.egg-info
pypi_package/gnc_smoothie_philfm.egg-info
