*~
output/*.png
output/*.json
test_output/*.png
test_output/*.json
*.aux
*.bbl
*.blg
*.log
*.out
__pycache__
*/__pycache__
*/*/__pycache__
build
examples/src/cython_files/*.c
examples/src/cython_files/*.so
pypi_package/src/gnc_smoothie/cython_files/*.c
pypi_package/src/gnc_smoothie/cython_files/*.so
pypi_package/dist
pypi_package/src/gnc_smoothie.egg-info
pypi_package/gnc_smoothie.egg-info
